<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Photos Team Ping Pong Ladder</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet"
    href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
    $(function() {$("#date").datepicker();});
    $(function() {
    var aliases=[
        {% for alias in aliases %}
        "{{alias[0]}}",
        {% endfor %}
    ];
    $("#p1").autocomplete({source: aliases});
    $("#p2").autocomplete({source: aliases});
    });
    </script>
    <style>
    .ui-widget {font-size: 75%;}
    </style>
</head>
<body>
{% include "header.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<h1>Errors</h1>
<ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<h1>Sign up to play!</h1>
<p>
New players: quick rules are at the bottom of this page.
</p>
<form action="{{url_for("signup")}}" method="post">
    <label for="alias">Alias: </label>
    <input type="text" id="alias" name="alias" />
    <label for="nick">Nickname: </label>
    <input type="text" id="nick" name="nick" />
    <button type="submit">Sign up</button>
</form>

<h1>Ladder</h1>
<table border="1">
<tr>
    <td>rank</td>
    <td>alias</td>
    <td>nickname</td>
    <td>mu</td>
    <td>sigma</td>
    <td>won</td>
    <td>lost</td>
</tr>
{% for rank, player in players %}
<tr>
    <td>{{rank}}</td>
    <td>{{player["alias"]}}</td>
    <td>{{player["nick"]}}</td>
    <td>{{player["mu"] | round(4)}}</td>
    <td>{{player["sigma"] | round(4)}}</td>
    <td>{{player["won"]}}</td>
    <td>{{player["lost"]}}</td>
</tr>
{% endfor %}
</table>

<h1>Scheduled matches</h1>
<p>
Not playing a scheduled game within the week without an explanation to the
league commissioner (damilla) is equivalent to a loss to an unranked player.
<br/>
Scheduled matches alternate weekly between ranked and random.
<br/>
This week is a
<b>{% if rankedweek %}ranked{% else %}random{% endif %}</b>
week.
</p>
<table border="1">
<tr>
<td>player 1</td>
<td>player 2</td>
<td>draw %</td>
</tr>
{% for match, quality in schedule %}
<tr>
<td>{{match[0]}}</td>
<td>{{match[1]}}</td>
<td>{{quality | round(2)}}%</td>
</tr>
{% endfor %}
</table>

<h1>Record a match</h1>
<p>
The photos team ladder accepts only 3-game or 5-game matches.
<br/>
<b>The winner should record the match.  Please avoid unintentional
    duplicates.</b>
<br/>
Recording a scheduled game will automatically remove it from the schedule.
<br/>
All recorded matches affect the ladder; if you don't want it to change ranking,
don't record it (but agree before the match!)
</p>
<form action="{{url_for("record")}}" method="post">
    <label for="p1">Player 1: </label>
    <input type="text" id="p1" name="p1" placeholder="alias" />
    <label for="s1">Games won: </label>
    <input type="text" id="s1" name="s1" size="3"/>
    <br/>
    <label for="p2">Player 2: </label>
    <input type="text" id="p2" name="p2" placeholder="alias" />
    <label for="s2">Games won: </label>
    <input type="text" id="s2" name="s2" size="3"/>
    <br/>
    <label for="date">Date: </label>
    <input type="text" id="date" name="date" />
    <label for="time">Time: </label>
    <input type="text" id="time" name="time" placeholder="hh:mm" />
    <input type="checkbox" id="ampm" name="ampm" value="pm" checked=true />
    <label for="ampm">PM</label>
    <br/>
    <button type="submit">Record</button>
</form>

<h1>Recent matches</h1>
<p>
View entire match history <a href="{{url_for('matches')}}">here</a>.
<br/>
Scheduled matches are highlighted in yellow.
</p>
<table border="1">
<tr>
<td>winner</td>
<td>loser</td>
<td>score</td>
</tr>
{% for recent in recents %}
{% if recent['scheduled'] %}
<tr style="background-color: yellow">
{% else %}
<tr>
{% endif %}
<td>{{recent[0]}}</td>
<td>{{recent[1]}}</td>
<td>{{recent['winscore']}}-{{recent['losescore']}}</td>
</tr>
{% endfor %}
</table>

<h1>Quick rules</h1>
For disputes, see the 
<a href="http://www.ittf.com/ittf_handbook/ittf_hb.html">
    official handbook</a>.
<ul>
    <li>Matches are played "best of three" or "best of five" to 11, players
    must agree the total match count before the match!</li>
    <li>Players decide by a method of their own choosing one player to serve or
    return first (returner chooses table sides)</li>
    <li>Players swap table sides between games, and every five points during the
    final game</li>
    <li>Components to a legal serve:</li>
    <ul>
        <li>The ball rests in the server's open palm</li>
        <li>The ball is tossed a minimum of 6 inches in the air</li>
        <li>Before the ball hits the table, the server strikes the ball</li>
        <li>Until the server strikes the ball, the ball should be behind the
        server's endline</li>
        <li>The ball hits once on the server's side of the table, and then once on the
        receiver's side of the table</li>
        <li>If a serve is legal except that it touches the net, it is called a "let" and
        the point is replayed</li>
        <li>After two consecutive lets, the point goes to the receiver</li>
    </ul>
    <li>After two points have been scored (i.e. the sum of the scores is even), service switches</li>
    <li>If the score of a game becomes 10-10:</li>
    <ul>
        <li>Players must win by two points</li>
        <li>Service switches every point</li>
    </ul>
</ul>

{% include "footer.html" %}
</body>
</html>
