<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Photos Team Ping Pong Ladder</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
{% include "header.html" %}

<h1>Match history</h1>
Scheduled matches are highlighted in yellow.
<br/>
<table border="1">
<tr>
<td>winner</td>
<td>loser</td>
<td>score</td>
</tr>
{% for recent in recents %}
{% if recent['scheduled'] %}
<tr style="background-color: yellow">
{% else %}
<tr>
{% endif %}
<td>{{recent[0]}}</td>
<td>{{recent[1]}}</td>
<td>{{recent['winscore']}}-{{recent['losescore']}}</td>
</tr>
{% endfor %}
<table>

{% include "footer.html" %}
</body>
</html>
